* {
text-decoration: none;
margin: 0;
font-style:  oblique;

}



header{

background-color: #fff;
width: 100%;
height: 100px;


}
header .header-brand {

font-family: Catamaran;
font-size: 20px;
font-weight: 1000;
color: #111;
text-transform: uppercase;
text-shadow: 20px;
display: block;
margin: 0 auto;
text-align:center;
padding: 20px 0;

}



header nav ul{

  float: left;
margin:0 auto;
width: fit-content;
background-color: inherit;





}
header nav ul li{
display: inline-block;
float: left;
list-style: none;
padding: 0 16px;



}
header nav ul li a{
  font-family: Catamaran;
  font-size: 16px;
  color: #111;
}

header .header-cases{

display: none;

}

 /*index*/

.index-banner{
width: 100%;
height: calc(90vh - 100px);
background-image: url(https://images.wallpaperscraft.com/image/laptop_macbook_iphone_apple_journal_glasses_113949_3840x2400.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: table;

}

.vertical-center{
display: table-cell;
vertical-align: middle;

}




.index-banner h2{
  font-family: Catamaran;
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
  color: #fff;
  text-align: center;
text-shadow: 2px 2px 8px #111;


}
.index-banner h1{
  font-family: Cormorant Garamond;
  font-size: 28px;
  font-weight: 100;
  font-style:italic;
  line-height: 40px;
  color: #fff;
  text-align: center;
text-shadow: 2px 2px 8px #111;


}

.index-links div {

margin: 16px 16px 0px;
width: calc(100% - 32px);
height: 100px;
background-color: #f2f2f2;


}

.index-links div h3{
  font-family:  Catamaran;
  font-size: 28px;
  font-weight: 500;
  line-height: 100px;
  color: #111;
  text-align: center;
text-transform: uppercase;

}

/*footer*/

.service {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}
.center {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #E8E8E8;
  font-size: 20px;
}

.center > h3 {
  width: 40px;
  margin-left: auto;
  margin-right: auto;
}
map {
  display: flex;


}
map > div {
  margin: auto;
  text-align: center;
}
footer {
  height: auto;
  justify-content: space-around;
  display: flex;
  background-color: #E8E8E8;
  width: auto;

}


@media screen and (max-width: 800px) {

  map {
    display: block;
  }

  map > iframe {
    width: 100%;
  }

  .service {
    display: block;
  }

  .service > div {
    width: 100px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}
/*bilder*/
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
.gallery-item {
    flex-basis: 32.7%;
    margin-bottom: 6px;
    opacity: 1;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-content {
    font-size: .8em;
}

.lightbox {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
}
.lightbox-content {
    position: relative;
    width: 70%;
    height: 70%;
    margin: 5% auto;
}
.lightbox-content img {
    border-radius: 7px;
    box-shadow: 0 0 3px 0 rgba(225, 225, 225, .25);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lightbox-prev,
.lightbox-next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 7px;
    top: 45%;
    cursor: pointer;
}
.lightbox-prev {
    left: 0;
}
.lightbox-next {
    right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
    opacity: .8;
}


@media (max-width: 800px) {
    .gallery-item {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    .lightbox-content {
        width: 90%;
        margin: 20% auto;

    }
}
#myDIV {
  display: block;
  width: 100%;
  height: auto;
}
.kunder1 {
  display: flex;
  justify-content: space-around;
}

.kunder1 > img {
  width: 50%;
  height: 50%;

}

.kunder1 > h3 {
  text-align: center;
  margin: auto;
}

@media (max-width: 600px) {
    .kunder1 {
      display: block;
    }

    .kunder1 > img {
        display: block;
         margin-left: auto;
         margin-right: auto;
         width: 50%;    }
}
.q {
  text-align: center;

}

.btn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 20%;
}
